$lightest-gray: #F9FAFB;
$light-gray: rgb(220, 224, 230);
$gray: rgb(177, 185, 195);
$muted: #545e69;
$dark-gray: #6f6f6f;
$darkest-gray: #67727E;

$green: rgb(81, 175, 51);
$dark-green: rgb(67, 142, 41);

$light-orange: rgb(249, 195, 57);
$orange: #da9e07;

$off-white: #E9EAEC;