.dashboard-root-container {
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    font-size: 20px;
    font-weight: 400;
    color: #43484E;
    width: 80%;
    padding-bottom: 20px;
    margin: 20px;

    border-bottom: 1px solid rgb(220, 224, 230);

}

.dashboard-task-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #DCE0E6;
    border-radius: 4px;
    width: 60%;
    margin: 20px;
}

.dashboard-task-box-1 {
    display: flex;
    height: 40px;
	width: 758px;	
    padding: 18px 25px;
    
}



.dashboard-task-h3 {
    font-size: 28px;
    word-spacing: 0.8px;
}

.dashboard-task-box-2 {
    font-size: 15px;
    max-width: 100%;

    background-color: #F9FAFB;

    border-top: 1px solid #DCE0E6;
	border-bottom: 1px solid #DCE0E6;
	border-left: 5px solid rgb(249, 195, 57);
    padding: 27px 0px;
    
    text-align: center;
}

.dashboard-task-box-3 {
    display: flex;
    height: 40px;
	max-width: 100%;
    padding: 18px 25px;
    border-bottom: 1px solid #DCE0E6;
    
}

.dashboard-scheduled-time {
    border-left: 1px solid #DCE0E6;
    padding-left: 30px;
}

.dashboard-scheduled-date {
    padding-right: 30px;
}
