.session-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background: white;
    padding: 16px 20px;
    align-items: center;
    border-bottom: 1px solid #dce0e6;

    height: 65px;
}

.task-hero-logo {
    margin-left: 55px;
    width: 120px;
    height: auto;
    position: absolute;
    margin-top: -30px;
    
}

.session-button {
    margin-right: 100px;

    a {
        margin-left: 20px;
    }
}

.logout-button {
  margin-right: 50px;
}
