.session-form-container {
    background-image: image-url('apartment-background.jpg');
    background-position: center center;
    background-size: cover;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    display: flex;
    justify-content: center;
    align-items: center;
}


.session-form-logo {
    // position: absolute;
    // padding-bottom: 450px;
}

.session-form-logo-signin {
    position: absolute;
    padding-bottom: 680px;
}

.session-form-box {
    max-width: 500px;
    border-radius: 3px;

    padding: 5px 32px 24px 32px;
    border: 1px solid #DCE0E6;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.session-form-box-signin {
    // max-height: 600px;
    max-width: 500px;
    border-radius: 3px;

    padding: 85px 32px 24px 32px;
    border: 1px solid #DCE0E6;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.session-form-label {
    font-size: 16px;
    font-weight: 300;
    color: #86919D;

    word-spacing: 0.8px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.session-form-input {
    border: 1px solid #B1B9C3;
    padding: 10px 16px 10px 16px;
    line-height: 24px;
    font-size: 15px;
    word-spacing: 0.6px;
    transition: border 0.4s ease-in-out;
}

.session-form-input:focus {
    border: 1px solid $green;
}

.session-form-disclaimer {
    font-size: 14px;
    line-height: 22px;
    color: #86919D;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    max-width: 90%;
}

.session-green-text {
    font-weight: 300;
    color: #438E29;
}

.session-green-text:hover {
    cursor: not-allowed;
}

.session-submit-button {
    color: white;
    background-color: $green;
    width: 82%;
}

.session-submit-button:hover {
    background-color: $dark-green;
}

.session-already-have-account {
    margin-top: 15px;
    font-size: 18px;
    color: #86919D;
    text-align: center;
}

.error-text-login {
    color: red;
    font-size: 15px;
    padding-top: 15px;
}

.error-text-signup {
    color: red;
    font-size: 15px;
    padding-bottom: 15px;
}

.session-form-short-text {
    padding: 10px;
    font-size: 18px;
    color: #86919D;
}